:root{
    --main-text-font: Arial,Helvetica,sans-serif
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 15 50px;
    height: 70px;
    align-items: center;
}

.logo{
flex: 3;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.menu{
    flex: 2;
    display: flex;
}
.menu > li{
    padding: 0 7px;
    position: relative;
    
    
}
.menu > li:hover .sub-menu{
    visibility: visible;
    top:20px;
}
.shop a{
    color: #3D1766;
}
.sub-menu{
    position: absolute;
    width: 120px;
    border: 1px solid #ccc;
    padding: 5px 0 5px 15px;
    visibility: hidden;
    top:50px;
    transition: 0.3s;
    line-height: 18px;
    color: #00A8E8;
}
.sub-menu li{
    font-size: 11px;
    font-weight: bold;
    color: #00A8E8;
}
.menu > li > a{
    font-size: 18px;
    font-weight: bold;
    color: #3D1766;
}

.other{
    flex: 1;
    display: flex;
}
.shop{
    flex: 2;
    display: flex;
}
.shop > a{
    font-size: 17px;
}
.search form{
    width: 55%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 600px;
    height: 33px;
    display: flex;
}
form input{
    flex: 1;
    padding: 9px 20px;
    background-color: #ffff;
    border: 1px solid #dddd;
}
form button{
    padding: 10px 25px;
    border: none;
    cursor: pointer;
}
form .fa-search{
    align-items: center;
    padding: 14px 2px;
    color: #777;
}





.container{
    padding: 100px;
    font-family: var(--main-text-font);
    margin: 0 12px;

}
.content-item{
    list-style:none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content-item li{
    flex-basis: 25%;
    padding-left: 15px;
    padding-right: 15px;

    margin-bottom: 30px;
}
.content-item li img{
    max-width: 100%;
    height: auto;
}
.top-item{
    font-size: 26px;
    flex: auto;
}
.top-item p{
    font-weight: bold;
}

.top-item select{
    width: 40%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    border: 1px solid #dddd;
    cursor: pointer;
}
.content-item{
    margin-top:40px ;
    justify-content: space-between;
    width: calc(25%-12px);
    text-align: center;
    padding: 12px 0;
}
.content-item a{
    font-family: var(--main-text-font);
    font-size: 17px;
    margin:auto;
    color: #3D1766;
}
.content-item image{
    width: 100%;
}
.content-item p{
    font-size: 14px;
}

.table{
    margin-top: 150px;
    margin-left: 50px;
    box-sizing: border-box;
    width: 60%;
    border-collapse: collapse;
}

.table td,.table th{
    padding:12px 15px;
    border:1px solid #ddd;
    text-align: center;
    font-size:16px;
  }
  
  .table th{
      background-color: #3bdfbe;
      color:#ffffff;
  }
  .table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}


.searchResult a{
    font-size: 55px;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    height: 70px;
    align-items: center;
    border-bottom: 1px solid rgb(59, 59, 59);
    position: relative;
}
/* Set a style for all buttons */
button {
    background-color: #ecc7c7;
    color: hwb(0 0% 94%);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
/* Add a hover eff

ect for buttons */
button:hover {
    opacity: 0.8;
}

/* Center the avatar image inside this container */
/* .imgcontainer {
    text-align: center;
    background: #333; 
    margin: 20px 0;
    padding: 100px 0px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    /* margin: 24px 0 12px 0;
    justify-content: center;
    align-content: center; 
} */
.imgcontainer {

        padding: 15px 15px;
         border: solid 1px #ccc;

     
    margin:  auto;
    
    justify-content: center;
    align-content: center;
    text-align: center;
    position: absolute;
        /* Canh giá»¯a */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    /* margin: 24px 0 12px 0; */

/* .container {
    background: #333;
    margin: 20px 0;
    padding: 100px 0px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
} */

.child {
    width: 400px;
    /* background: DodgerBlue; */
    padding: 10px;
    color: white;
    border-radius: 15px;
}
/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
    border: 1px black solid;
    margin-bottom: 20px;
}

/* Add padding to containers */
.containerr {
    padding: 16px;
    max-width: 50%;
}